<h1 > All sequences </h1 >
	
	<form method="post" action="delete" >
		<%= label_TextField_helper 'Enter Sequence Name to delete', 'delSequenceName', 'Enter Sequence Name here ' %>
		<input type="hidden" name="gameName" value="<%=@gameName%>"/> 
	<input type="submit" id="Delete"  value="Delete" />
	</form>
	<form method="post" action="update" >
		<%= label_TextField_helper 'Enter Sequence Name to update', 'upSequenceName', 'Enter Sequence Name here ' %>
		<input type="hidden" name="gameName" value="<%=@gameName%>"/> 
	<input type="submit" id="Update"  value="Update" />
	</form>
	
	
	<label style="font-family:arial;color:red;font-size:20px;"><%= @gameName %></label>	</br></br>
<ul>
	<%@sequenceNames.each_index do |t|%>
		<li><a href="/<%= @gameName %>/sequences/xml/<%= @sequenceNames[t] %>"> <%=@sequenceNames[t]%></a></li>
		<%end%>		
		</br></br>
</ul>

<a style="font-size:20px;"  href="/showGames">Back to Show Games  </a>

		
	<script>
	$(document).ready(function(){
	    
			$("#Delete").click(function(e){
		
				str = $.trim($("a").text()).split(" ");
				var truth = 0;
				if(str.length == 0){  alert("There are no Sequences");}
				for(i=0;i<str.length;i=i+1){
					if(str[i]!== $("#delSequenceName").val() ){
						truth = truth +1;
					}//end of if
						
				}//end of for
				if(truth==str.length)
				{
					alert("Sequence Name not correct");
					$("#delSequenceName").attr("value","");
					e.preventDefault();
					return false;
				}//end of if
				
			}); //end of click function for Delete
					
			$("#Update").click(function(e){
		
				str = $.trim($("a").text()).split(" ");
				var truth = 0;
				if(str.length == 0){  alert("There are no Sequences");}
				for(i=0;i<str.length;i=i+1){
					if(str[i]!== $("#upSequenceName").val() ){
						truth = truth +1;
					}//end of if
						
				}//end of for
				if(truth==str.length)
				{
					alert("Sequence Name not correct");
					$("#upSequenceName").attr("value","");
					e.preventDefault();
					return false;
				}//end of if
				
			}); //end of click function for update	
		
	});
</script>
